/**Barra de navegación*/
.navbar{
    background-color: #ca3f4a;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-evenly;
}

.nav-link{
    text-decoration:none;
    color: whitesmoke !important;
    margin: 1rem, 5rem, 1rem, 5rem;
    font-family: 'Alice', serif;
    font-size: 20px !important;
}

/**Mi presentasión*/
section .personal{
    display: flex;
}

.personal{
    min-height:400px;
    padding-top: 40px;
    padding-bottom:30px;
    font-family: 'Lobster', cursive;
    background: rgb(215,212,206);
    background: linear-gradient(0deg, rgba(215,212,206,1) 0%, rgba(185,181,174,1) 100%);
}

.contenedor-foto{
    display: flex;
    justify-content: center;
    align-items:center;
}

.foto{ 
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: solid;
    box-shadow: 5px 5px 5px #abaaaf;
    justify-content: center;
    margin-right: 220px;
    }

   section h1{
        color: black;
        font-family: 'Great Vibes', cursive;
        font-weight: bold;
        font-size: 55px;
        padding-top: 60px;
    }

   section h2{
        padding-bottom: 1px;
    }

    .subtitulo{
        color: black;
        font-family: 'Libre Baskerville', serif;
        font-size: 28px;
    }

    h2.bienvenida{
        font-family: 'Great Vibes', cursive;
        font-weight: bold;
        font-size: 40px;
        padding-top: 30px;
        animation: aparecer 8s forwards;
    }

p{
    font-family: 'Lora', serif;
    font-weight: bold;
}

    /**Mi información personal*/
    h3{
        font-size: 18px;
        font-family: 'Lobster', cursive;
        padding-bottom: 20px;
        text-decoration: underline;
        text-decoration-color: rgb(68, 68, 68);
        text-decoration-thickness: 2px;
    }

    #info{
        display:flex;
        justify-content: center;
        padding: 40px;
        flex-direction: column;   
        text-align: center; 
        background: #b3c4ba;
        }

    #info .row div{
        height: 100px;
        background: rgb(253,253,253);
        background: linear-gradient(90deg, rgba(253,253,253,1) 0%, rgba(255,255,255,1) 50%, rgba(253,253,253,1) 100%);
        border: solid #8a9597 2px;
        margin-top: 20px;
        border-radius: 20px;
        }

    #info p{
        font-size: 15px;
        margin: 10px 0px;
        color: black;    
        font-family: 'Lora', serif;
        text-align: center;
        /*padding: 5px 2px 5px 2px;*/
    }
    
    #info i{
        font-size: 2rem;
        color: #ca3f4a; /* el coral  mas claro original #fb8176 ;lila oscuro #ae7ec9;#0da2a5;  c398db lila*/
        padding-top: 15px; 
    }
    
/**Fortalezas y pensamientos*/
    h4{
        font-size: 12px;
        font-family: 'Lobster', cursive;
        padding-bottom: 20px;
        text-decoration: underline;
        text-decoration-color: rgb(68, 68, 68);
        text-decoration-thickness: 1px;
    }

        .fortaleza{
            text-align: center;
            padding: 40px 40px 40px 40px;
            background-color: #ccd3cf;        
        }
    
        .fortaleza p{
            padding-right: 40px;
            padding-left: 40px; 
        }

        .pensamiento{
            text-align: center;
            padding: 40px 40px 40px 40px;
            background-color: #e4e4e4;
        }
    
        .pensamiento p{
            padding-right: 40px;
            padding-left: 40px;
        }

    /**Mi formación profesional*/
    #formacion{
        padding: 50px 5px 50px 5px;
        text-align: center;
        background: rgb(253,253,253);
        background: linear-gradient(90deg, rgba(253,253,253,1) 0%, rgba(255,255,255,1) 50%, rgba(253,253,253,1) 100%);  
    }
        
    #formacion .row div{
        height: 220px;  
    }

    p.titulo{
        font-weight: bold;
        font-size: 20px;
        font-family: 'Alice', serif;
    }

    .paquete{
        border: solid 3px #a8a8a8;
        background-color: #f8f8f8;
        padding: 30px 10px 5px 10px;
        transition: all 0.2s ease-in;
        border-radius: 10px;
    }

    .paquete:hover{
        background-color: #c8a8da;        
        border: solid 2px #b767e2;
    }

    .formacion p{
        padding: 8px 8px 5px 8px;
    }

    /**Mis experiencias*/
    .experiencias{
        padding: 40px 1px 40px 1px;
        text-align: center; 
        background-color:whitesmoke;
    }

    .experiencia-contenedor{
        padding-top: 10px;
        margin-bottom: 10px;
    }

    .cada-experiencia{
        border: solid #03888f;
        min-height: 280px; 
        margin-bottom: 20px;  
        border-radius: 10px;  
        background-color: white; 
        transition: 0.5s;
    }

    .cada-experiencia:hover{
        box-shadow: 5px 5px 10px #565656, -3px -3px 10px #8a8a8a;
    }

    .cada-experiencia i{
        color: #67c9cb;
        font-size: 40px;    
    }

    p.actividad{
        font-size:20px;
        font-family: 'Alice', serif;
    }

    /**Footer**/
    #pie{
        text-align: center;
        padding: 40px 5px 5px 5px;
        background-color: #c8a8da;
    }

    #contacto.container{
        max-width: 1000px;
        min-height: 80px;
        padding-top: 20px;
        padding-bottom: 10px;
        margin-top: -5rem;
        background-color: #0da2a5;
        border-radius: 10px;
    }

    #contacto p{
        padding-top: 8px;
        font-family: 'Great Vibes', cursive;
        font-size: 35px;
    }

    #contacto a{
        justify-content: space-evenly;
        padding: 5px;
    }

    .firma{
        padding: 40px;
    }

    h5{
        color:#100216;
        font-family: 'Libre Baskerville', serif;
        font-weight: bold;
        font-size: 2px;
    }

    h6{
        color:#e1c8ec;
        font-family: 'Alice', serif;
        font-weight: bold;
        font-size: 2px;
    }

    h6 span{
        font-family: 'Parisienne', cursive;
        font-size: 22px;
    }
 

    @keyframes aparecer {
        from{
            color: transparent;
        }
        to{
            color: #8b1822;  
        }
    }
    
    @media screen and (max-width: 767px){
        .personal{
            padding-top: 5px;
        }
        .subtitulo{
            font-size: 20px;
        }
        .foto{
            width:150px;
            height:150px;
            margin-right: 10px;
        };
    }